butterfly.class
Character_pattern.class
diamond.class
floyd_triangle.class
half_pyramd_num.class
half_pyramd.class
hollow_rectangel.class
hollow_rhombus.class
Inverted_star_pattern.class
Normal_star_pattern.class
Number_pattern.class
number_pyramd.class
pld_num.class
rhombus.class
triangleof01.class
